/* http://codepen.io/ftntravis/pen/pvbdWe */
$duration: .20;
$easing: ease-in-out;

.button {
  @include hardware-acceleration;
  box-sizing: border-box;
  text-align: center;
  span {
    color: $gold;
  }
  &.no-animation {
    pointer-events: none;
  }
}

[data-wipe] {
  display: inline-block; // Fix cut-off
  padding: 8px 18px;
  text-decoration: none;
  position: relative;
  border: 1px solid $light-grey;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: $light-grey;
  overflow: hidden;

  &:before, &:after {
    content: attr(data-wipe);
    padding-top: inherit;
    padding-bottom: inherit;
    white-space: nowrap;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: $white;
    background: $grey;
  }

  &:before {
    left: 0;
    text-indent: 18px;
    width: 0;
  }

  &:after {
    padding-left: inherit;
    padding-right: inherit;
    left: 100%;
    text-indent: calc(-100% - 36px);
    transition: $duration + s $easing;
  }

  &:hover {
    &:before {
      width: 100%;
      transition: width $duration + s $easing;
    }

    &:after {
      left: 0;
      text-indent: 0;
      transition: 0s $duration + s $easing;
    }
  }
}
