#detail
  height: 100%
  width: 100%
  overflow: hidden
  overflow-y: scroll // LET IT SCROLL
  -webkit-overflow-scrolling: touch // momentum scrolling. [HACK] Experimental feature.
  // Opening screen
  .opening
    height: 650px
    &.bow
      background-color: $white
    &.wob
      background-color: $black
    .wrapper
      margin: 0 auto
      max-width: 1400px
      position: relative
      article
        position: absolute
        width: 355px
        left: 60px
        top: 110px
        p
          width: 268px
      figure
        position: absolute
        right: 60px
        top: 280px
        width: 40%
        min-width: 384px
        img
          width: 100%
      +mq(tabletLandscape)
        article
          left: 80px
          top: 250px
        figure
          right: 80px
          top: 160px
      +mq(desktop)
        article
          left: 128px
        figure
          right: 128px
          max-width: 568px

  .objective-banner
    background-image: url("images/goggles-objective-bg.png")
    background-size: cover
    background-position: 50% 0%
    background-repeat: no-repeat
    height: 180px
    padding: 0 50px
    display: flex
    align-items: center
    justify-content: center
    p
      max-width: 650px
      +mq(desktop)
        max-width: 750px
      text-align: center
      color: $light-grey

  .model-viewer
    background: $white
    display: flex
    height: 100%
    max-height: 700px
    align-items: center
    justify-content: center
    .wrapper
      position: relative
      height: 80%
      width: 80%
      max-width: 1400px
      .iframe-shade, iframe
        position: absolute
        height: 100%
        width: 100%
      .iframe-shade
        pointer-events: none // click-through
        background-color: rgba(0, 0, 0, 0.06)
        z-index: 2
      iframe
        z-index: 1
        
  .video-embed
    background: $white
    display: flex
    justify-content: center
    padding-top: 48px
    padding-bottom: 48px
    
  // spacing from http://jsfiddle.net/danield770/9hh86/
  .process-banner
    background: $black
    color: $light-grey
    text-transform: uppercase
    font-weight: 500
    padding-top: 1rem
    ul
      text-align: justify
      list-style-type: none
      margin: 0 auto
      height: 5.5rem
      max-width: 664px
      +mq(tabletPortrait)
        max-width: 664px
      +mq(tabletLandscape)
        max-width: 856px
      +mq(desktop)
        max-width: 1144px
      &:after
        content: ''
        display: inline-block
        width: 100%
      li
        display: inline-block
        .flexbox
          display: flex
          .left
            font-size: 3.6rem
          .right
            width: 90px
            line-height: 15px
            margin-top: 9px
            margin-left: 5px
            font-size: 1.4rem
            text-align: start

  // Black magic below from
  // http://www.mademyday.de/css-height-equals-width-with-pure-css.html
  .research
    background-color: $black
    display: flex
    justify-content: center
    .wrapper
      max-width: 1400px
      position: relative
      width: 100%
      &:before
        content: ""
        display: block
        padding-top: percentage(1450/1520)
        +mq(tabletLandscape)
          padding-top: percentage(1330/2032)
        +mq(desktop)
          padding-top: percentage(1260/2800)
      .bg
        position: absolute
        z-index: 1
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-size: cover
        background-image: url(images/goggles-research-portrait.png)
        +mq(tabletLandscape)
          background-image: url(images/goggles-research-landscape.png)
        +mq(desktop)
          background-image: url(images/goggles-research-desktop.png)
      .text-wrapper
        position: absolute
        z-index: 2
        top: 0
        left: 0
        bottom: 0
        right: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        article
          text-align: center
          width: 70%
          +mq(tabletLandscape)
            width: 50%
          +mq(desktop)
            width: 30%

  .functional
    display: flex
    justify-content: center
    width: 100%
    height: 332px
    +mq(tabletLandscape)
      height: 360px
    +mq(desktop)
      height: 406px
    &.bow
      background-color: $white
    &.wob
      background-color: $black
    .wrapper
      flex: 1
      position: relative
      height: 100%
      max-width: 1400px
      margin: 0 48px
      +mq(tabletLandscape)
        margin: 0 80px
      +mq(desktop)
        padding: 0 128px
        box-sizing: border-box
        margin: 0 128px
      article
        position: absolute
        width: 294px
        right: 32px
        top: 40px
        +mq(tabletLandscape)
          width: 350px
          right: 6 * 8px
          top: 105px
        +mq(desktop)
          width: 395px
          right: 48px
          top: 160px
      figure
        position: absolute
        background-size: contain
        background-image: url(images/goggles-functional-portrait.png)
        background-repeat: no-repeat
        background-position:  left bottom
        bottom: 0
        height: calc(100% - 8px * 10)
        +mq(tabletLandscape)
          height: calc(100% - 8px * 8)
          background-image: url(images/goggles-functional-landscape.png)
        +mq(desktop)
          height: calc(100% - 8px * 9)
          background-image: url(images/goggles-functional-desktop.png)
        width: 100%

  .text-image-layout, .cad-process, .exploded, .more-work
    width: 100%
    display: flex
    justify-content: center
    &.bow
      background-color: $white
    &.wob
      background-color: $black
    .wrapper
      width: 1400px
      margin-top: 128px
      margin-left: 48px
      margin-right: 48px
      +mq(tabletLandscape)
        margin-left: 80px
        margin-right: 80px
      +mq(desktop)
        margin-left: 128px
        margin-right: 128px
        box-sizing: border-box
        padding: 0 128px
      text-align: center

  // Responsiveness for these parts
  // HACK: .scroller-view is here for the scroller.
  .text-image-layout
    .wrapper
      +mq(tabletLandscape)
        display: flex
        align-items: center
      article
        padding: 0 30px
        +mq(tabletLandscape)
          text-align: left
          max-width: 650px
      figure, .scroller-view
        width: 100%
        img
          width: 100%
          max-width: 577px
    &.image-last
      article
        order: 1
      figure, .scroller-view
        order: 2
        +mq(tabletLandscape)
          // For image
          text-align: right
    &.image-first
      article
        order: 2
      figure, .scroller-view
        order: 1
        +mq(tabletLandscape)
          // For image
          text-align: left
  
  .visualization
    .wrapper
      margin-top: 64px
  // First interactive Module
  .slide-container
    position: relative
    height: 500px
    overflow: hidden
    // reset styles
    text-align: initial !important // <buzzer>
    .slide
      cursor: pointer
      position: absolute
      width: 80% !important // <buzzer>
      transform: translate(-50%, -50%)
      &:nth-child(1)
        //z-index: 3
        top: 55%
        left: 55%
      &:nth-child(2)
        //z-index: 2
        top: 47%
        left: 60%
      &:nth-child(3)
        //z-index: 1
        top: 50%
        left: 45%
        
      
  
  .new-direction
    margin-top: 200px
    img
      margin-top: -250px
      +mq(tabletLandscape)
        margin-top: -200px
  .slanted-top
    position: relative
    &:before
      content: ''
      position: absolute
      top: 0
      width: 0
      height: 0
      right: 0
      border-top: 200px solid $white
      border-right: 2800px solid $black
      // 1337 h4x0r
      transform: scale(1.001)
    .wrapper
      z-index: 2

  .back-to-digital
    padding-bottom: 140px
  .slanted-bottom
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0px
      width: 0
      height: 0
      right: 0
      border-bottom: 200px solid $white
      border-right: 2800px solid $black
      // 1337 h4x0r
      transform: scale(1.001)
    .wrapper
      z-index: 2

  
  .cad-process
    .wrapper
      align-items: flex-start
      img
        // moar reset
        max-width: none !important // <buzzer>
      .scroller-view
        position: relative
        margin-bottom: 3rem
        .frame
          transform: translate(0%, 0%)
          // reset from center
          text-align: initial !important // <buzzer>
          line-height: 0
          img
            max-width: none
            width: 100%
        .scroller-content
          position: absolute
          top: 6%
          left: 4%
          right: 4%
          bottom: 24%
          overflow: auto
          overflow-y: scroll
          img
            width: 100%
    &.text-image-layout.image-last
      .scroller-view
        order: 2
      article
        order: 1

  .exploded
    .wrapper
      margin-top: 64px
      figure
        width: 100%
        display: flex
        justify-content: center
        img
          margin-left: 60px
          margin-right: 60px
          height: 100%
          width: 100%

  .more-work
    &.wob
      background-color: $black
    &.bow
      background-color: $white
    .wrapper
      margin-top: 64px
      h1
        font-size: 3.2rem
        margin-bottom: 5rem
        +mq(tabletLandscape)
          font-size: 3.0rem
        &:before
          content: ''
          display: block
          overflow: hidden
          margin: .1em auto
          margin-bottom: 4rem
          width: 100%
          height: 2px
          background-color: currentcolor
      .other-works
        display: flex
        margin: 0 auto
        a:nth-last-child(1)
          display: none
          +mq(tabletLandscape)
            display: initial
        figure
          border-style: solid
          border-width: 2px
          border-color: #d7d7d7
          margin: 0 3px
          background-color: $black
          overflow: hidden
          img
            +hardware-acceleration
            width: 101%
            height: auto
            display: block
            opacity: 1
            transition: opacity 0.3s ease
            &:hover
              opacity: 0.8
          figcaption
            // do we want these?
            display: none
            text-align: left
            text-transform: uppercase

.footer
  color: $grey
  background-color: $black

//
// For smaller projects
//
.smaller-proj-opening
  width: 100%
  background-color: $black
  display: flex
  justify-content: center
  article
    max-width: 480px
    margin: 112px 48px
    text-align: center

.smaller-proj-slides
  padding-top: 6%
  display: flex
  justify-content: center
  flex-direction: column
  img
    margin: 20px auto
    width: 85%
    max-width: 1400px
    height: auto
    box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.4)
