#detail
  height: 100%
  width: 100%
  overflow: scroll // LET IT SCROLL
  // Opening screen
  .opening
    position: relative
    height: 650px
    &.bow
      background-color: $white
    &.wob
      background-color: $black
    article
      position: absolute
      width: 265px
      left: 60px
      top: 110px
    figure
      position: absolute
      right: 60px
      top: 280px
      img
        width: 384px

  .objective-banner
    background: url("images/goggles-objective-bg.png")
    height: 180px
    padding: 0 50px
    display: flex
    align-items: center
    justify-content: center
    p
      max-width: 650px
      +mq(desktop)
        max-width: 750px
      text-align: center
      color: $light-grey

  .github-model
    background: $white
    display: flex
    height: 100%
    min-height: 500px
    align-items: center
    justify-content: center
    .wrapper
      position: relative
      height: 80%
      width: 80%
      max-width: 1400px
      .iframe-shade, iframe
        position: absolute
        height: 100%
        width: 100%
      .iframe-shade
        pointer-events: none // click-through
        background-color: rgba(0, 0, 0, 0.06)
        z-index: 2
      iframe
        z-index: 1

  // spacing from http://jsfiddle.net/danield770/9hh86/
  .process-banner
    background: $black
    color: $light-grey
    text-transform: uppercase
    font-weight: 500
    padding-top: 1rem
    ul
      text-align: justify
      list-style-type: none
      margin: 0 auto
      height: 5.5rem
      max-width: 664px
      +mq(tabletPortrait)
        max-width: 664px
      +mq(tabletLandscape)
        max-width: 856px
      +mq(desktop)
        max-width: 1144px
      &:after
        content: ''
        display: inline-block
        width: 100%
      li
        display: inline-block
        .flexbox
          display: flex
          .left
            font-size: 3.6rem
          .right
            width: 90px
            line-height: 15px
            margin-top: 9px
            margin-left: 5px
            font-size: 1.4rem
            text-align: start

  // Black magic below from
  // http://www.mademyday.de/css-height-equals-width-with-pure-css.html
  .research
    background-color: $black
    display: flex
    justify-content: center
    .wrapper
      max-width: 1400px
      position: relative
      width: 100%
      &:before
        content: ""
        display: block
        padding-top: percentage(1450/1520)
        +mq(tabletLandscape)
          padding-top: percentage(1330/2032)
        +mq(desktop)
          padding-top: percentage(1260/2800)
      .bg
        position: absolute
        z-index: 1
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-size: cover
        background-image: url(images/goggles-research-portrait.png)
        +mq(tabletLandscape)
          background-image: url(images/goggles-research-landscape.png)
        +mq(desktop)
          background-image: url(images/goggles-research-desktop.png)
      .text-wrapper
        position: absolute
        z-index: 2
        top: 0
        left: 0
        bottom: 0
        right: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        article
          text-align: center
          width: 70%
          +mq(tabletLandscape)
            width: 50%
          +mq(desktop)
            width: 35%

  .functional
    display: flex
    justify-content: center
    width: 100%
    height: 332px
    +mq(tabletLandscape)
      height: 360px
    +mq(desktop)
      height: 406px
    &.bow
      background-color: $white
    &.wob
      background-color: $black
    .wrapper
      flex: 1
      position: relative
      height: 100%
      max-width: 1400px
      margin: 0 48px
      +mq(tabletLandscape)
        margin: 0 80px
      +mq(desktop)
        margin: 0 128px
      article
        position: absolute
        width: 294px
        right: 32px
        top: 40px
        +mq(tabletLandscape)
          width: 350px
          right: 6 * 8px
          top: 105px
        +mq(desktop)
          width: 395px
          right: 48px
          top: 160px
      figure
        position: absolute
        background-size: contain
        background-image: url(images/goggles-functional-portrait.png)
        background-repeat: no-repeat
        background-position:  left bottom
        bottom: 0
        height: calc(100% - 8px * 10)
        +mq(tabletLandscape)
          height: calc(100% - 8px * 8)
          background-image: url(images/goggles-functional-landscape.png)
        +mq(desktop)
          height: calc(100% - 8px * 9)
          background-image: url(images/goggles-functional-desktop.png)
        width: 100%

  .visualization, .framework, .setback
    width: 100%
    display: flex
    justify-content: center
    .wrapper
      margin-left: 48px
      margin-right: 48px
      +mq(tabletLandscape)
        margin-left: 80px
        margin-right: 80px
      +mq(desktop)
        margin-left: 128px
        margin-right: 128px
      margin-top: 128px
      text-align: center
      figure, img
        width: 100%
        display: flex
        justify-content: center
        img
          width: 100%
          height: 100%
          max-width: 352px
      p
        font-weight: 400
        text-align: left
        margin-left: 60px
        margin-right: 60px

  .new-direction
    &.wob
      color: $white
      background-color: $black
    .slanter
      margin: 0 -100px
      transform: rotate(5deg)
      transform-origin: left center
      text-align: center
      .wrapper
        // [TODO] http://tympanus.net/Tutorials/SlopyElements/

.footer
  color: $grey
  background-color: $black
