@import url("//hello.myfonts.net/count/2d2acf")
@font-face
  font-family: 'Code-Pro-Demo'
  src: url('webfonts/2D2ACF_0_0.eot')
  src: url('webfonts/2D2ACF_0_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2D2ACF_0_0.woff2') format("woff2"), url('webfonts/2D2ACF_0_0.woff') format("woff"), url('webfonts/2D2ACF_0_0.ttf') format("truetype")
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300)

$code-pro: 'Code-Pro-Demo', 'Century Gothic', CenturyGothic, AppleGothic, 'Arial', sans-serif
$avenir: 'Avenir', 'Nunito', sans-serif
$bold: 700
$regular: 400
$light: 300

html
  +font-smoothing // <- _mixins.scss
  font-size: 62.5% // using rem for ALL TEH THINGS
  color: $dark-grey
  font-family: $avenir

/* wob: white-on-black
 * bow: black-on-white
 * Achieve these values by having parent div have class,
 * or by having them attached to you. english. lkasdhfi
 */

h1
  font-family: $code-pro
  font-size: 3.6rem
  font-weight: 400
  letter-spacing: .2em
  text-transform: uppercase
  &.wob
    color: $light-grey
  &.bow
    color: $dark-grey

h3
  font-size: 1.6rem
  font-weight: 500
  text-transform: uppercase
  letter-spacing: .1em
  &.wob
    color: $light-grey
  &.bow
    color: $dark-grey

p
  font-size: 1.6rem
  &.wob
    color: $grey
  &.bow
    color: $grey

.wob
  h1, h3
    color: $light-grey
  p
    color: $grey

.bow
  h1, h3
    color: $dark-grey
  p
    color: $grey

a
  text-decoration: none
a:link, a:hover, a:visited, a:active
  color: currentcolor
