.section
  height: 100%
  overflow: hidden

.section.welcome
  background-color: #282828
  .wrapper
    position: relative
    width: 100%
    height: 100%
    .title
      position: absolute
      top: 45%
      left: 50%
      transform: translate(-50%, -50%)
      text-align: center
      color: #f0f0f0

.section.s1
  background-color: #f4f8f9
  .title
    color: #cccbca

.section.s2
  background-color: #eae1e0
  .title
    color: #c3c2c1

.section.s3
  background-color: #212121
  .title
    color: #424241

.section.s4
  background-color: #fbfaf8
  .title
    color: #cccbca

.section.last
  background-color: #282828
  .title
    color: #f0f0f0
