<div class="about-wrapper">
  <div class="about-opening sticky-height wob">
    <div class="wrapper">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="text-image-layout fancy bow">
    <div class="wrapper">
      <article>
        <h1>HELLO THERE</h1>
        <p>
          My name is Mick Bartholomew and I'm an industrial designer who’s passionate about the human interface of products and interested in pursuing the application of new technologies. I focus on addressing the human element throughout the design process in order to improve everyday experiences and interactions. By utilizing emerging technology, I hope to one day simplify lives.      
        </p>
        <p>
          I'm currently in my third year studying design at Rochester Institute of Technology where I focus on learning how to best share and receive ideas through presentations, in small groups, and remotely. When outside of the studio, I love adventuring, and travel for the sense of understanding, perspective, and self discovery it provides. In the future, I see myself working as part of a tech-savvy team where I get to design, cultivate ideas, and go on adventures. If these passions interest you too, get in touch and let's make things happen.
        </p>
      </article>
    </div>
  </div>
  <div class="yet-another-banner wob">
    <div class="wrapper">
      <h3>
        “I WAS JUST PLAYIN’ AROUND WITH MY IMAGINATION, <br>
  THEN EVERYTHING GOT INTENSE”
      </h3>
      <a href="http://media0.giphy.com/media/8Ry7iAVwKBQpG/giphy.gif" target="_blank"><h4>- Jake the Dog</h4></a>
    </div>
  </div>
  <div class="get-in-touch bow">
    <div class="wrapper">
      <h1>Get in Touch!</h1>
      <article class="row follow">
        <h3>Stalk/Follow</h3>
        <article class="content">
          <a href="https://www.facebook.com/mick.bartholomew.7" target="_blank">
            <span class="icon -facebook"></span>
          </a>
          <a href="https://www.linkedin.com/in/mickbartholomew" target="_blank">
            <span class="icon -linkedin"></span>
          </a>
          <a href="https://www.pinterest.com/mdb2470/" target="_blank">
            <span class="icon -pinterest"></span>
          </a>
        </article>
      </article>
      <article class="row connect">
        <h3>Connect</h3>
        <article class="content">
          <p>
            Mick Bartholomew <br>
            6000 Reynolds Dr, #403 <br>
            Rochester, NY 14623
          </p>
          <p>
            its.mbartholomew@gmail.com <br>
            440.452.6330 <br>
          </p>
        </article>
      </article>
    </div>
  </div>


  <footer>
    {{> footer}}
  </footer>
</div>
