<div class="opening sticky-height taw wob">
  <div class="wrapper">
    <figure>
      <img src="images/taw-jason.png" alt="taw opening image" />
    </figure>
    <article>
      <h1>Event Design</h1>
      <h3>Thought At Work</h3>
      <p>
        In 2012 I attended this student run conference and have been volunteering ever since.
      </p>
    </article>
  </div>
</div>
<div class="objective-banner taw wob">
  <p>
    Thought At Work is a weekend long design conference that brings together students and top industry professionals to collaborate by providing a platform for discussion, creativity, and exploration. In 2014 I was one of three co-coordinators that managed the execution of this event.
  </p>
</div>
<div class="video-embed bow">
  <iframe src="https://player.vimeo.com/video/122274448?color=f0f0f0&title=0&byline=0&portrait=0" width="760" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="process-banner wob">
  <ul>
    <li>
      <div class="flexbox">
        <div class="left">
          ?
        </div>
        <div class="right">
          <span>Lessons Learned</span>
        </div>
      </div>
    </li>
    <li>
      <div class="flexbox">
        <div class="left">
          1Y
        </div>
        <div class="right">
          <span>Project Time Span</span>
        </div>
      </div>
    </li>
    <li>
      <div class="flexbox">
        <div class="left">
          340
        </div>
        <div class="right">
          <span>Hours working</span>
        </div>
      </div>
    </li>
    <li>
      <div class="flexbox">
        <div class="left">
          5
        </div>
        <div class="right">
          <span>Days not showering</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="statistics bow">
  <div class="wrapper">
    <div class="title-container">
      <h1>Thought At Work</h1>
      <h3>2014 Statistics</h3>
    </div>
    <div class="flex-container">
      <article class="column">
        <h1>25+</h1>
        <p>
          Industry professionals speaking on various design topics.
        </p>
      </article>
      <article class="column">
        <h1>400</h1>
        <p>
          Student attendees from 16 colleges across North America.
        </p>
      </article>
      <article class="column">
        <h1>45</h1>
        <p>
          Design focused workshops. Also food, drinks and networking events.
        </p>
      </article>
    </div>
  </div>
</div>
<div class="plain-banner wob">
  <div class="wrapper">
    <h3>The Conference</h3>
    <p>
      Thought At Work takes place at Rochester Institute of Technology for the purpose of bringing designers together to learn. This conference bridges the gap between the professional and academic worlds through hands-on workshops, compelling lectures, engaging panels, and portfolio reviews.
    </p>
  </div>
</div>
<div class="text-image-layout fancy taw bow">
  <div class="wrapper">
    <figure><img src="images/taw-poster.png" alt="framework" /></figure>
    <article>
      <h3>As Co-Coordinator</h3>
      <p>
        After 2013’s conference the position of coordinator was handed down to me and two other sophomores. This was the first time that management was turned over to a new generation and we had a lot to learn about working together, building the event, and orchestrating a team of 30 students. In addition to helping oversee the details of the conference, my primary responsibilities were procuring speakers, marketing, and managing documentation through film and photo. To ensure this year was the best Thought At Work yet, my main objective was the attendees’ experience and I was in charge of floor plans and room layouts, as well as managing the sketch-off, which was the largest social and interactive event of the conference.
      </p>
      <p>
        To learn more about the conference and see what we have planned for 2015, check out Thought At Work’s site <a href="http://thoughtatwork.org/" target="_blank">here</a>.
      </p>
    </article>
  </div>
</div>
<div class="detail-coming-soon wob">
  <div class="wrapper">
    <h3>More process coming soon!</h3>
  </div>
</div>
<!-- Footer -->
<div class="more-work bow">
  <div class="wrapper">
    <h1>More work</h1>
    <div class="other-works">
      <a href="#work/goggles">
        <figure>
          <img src="images/preview-goggles.png" alt="ohana" />
          <figcaption>F14 Optics</figcaption>
        </figure>
      </a>
      <a href="#work/ohana">
        <figure>
          <img src="images/preview-ohana.png" alt="taw" />
          <figcaption>Ohana</figcaption>
        </figure>
      </a>
      <a href="#work/stapler">
        <figure>
          <img src="images/preview-stapler.png" alt="onestep" />
          <figcaption>Stapler</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
<footer>
  {{> footer}}
</footer>
