<div class="smaller-proj-opening sticky-height wob">
  <article>
    <h1>Ohana</h1>
    <h3>Faucet System</h3>
    <p>
      This project was completed at the end of my sophmore year.
Updated layout coming soon!
    </p>
  </article>
</div>

<div class="smaller-proj-slides">
  <img src="images/ohana_1.jpg" alt="1" />
  <img src="images/ohana_2.jpg" alt="2" />
  <img src="images/ohana_3.jpg" alt="3" />
  <img src="images/ohana_4.jpg" alt="4" />
  <img src="images/ohana_5.jpg" alt="5" />
  <img src="images/ohana_6.jpg" alt="6" />
  <img src="images/ohana_7.jpg" alt="7" />
  <img src="images/ohana_8.jpg" alt="8" />
</div>

<div class="more-work bow">
  <div class="wrapper">
    <h1>More work</h1>
    <div class="other-works">
      <a href="#work/taw">
        <figure>
          <img src="images/preview-taw.png" alt="taw" />
          <figcaption>Thought At Work</figcaption>
        </figure>
      </a>
      <a href="#work/stapler">
        <figure>
          <img src="images/preview-stapler.png" alt="onestep" />
          <figcaption>Stapler</figcaption>
        </figure>
      </a>
      <a href="#work/onestep">
        <figure>
          <img src="images/preview-onestep.png" alt="onestep" />
          <figcaption>Onestep</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
<footer>
  {{> footer}}
</footer>
