<div class="opening sticky-height wob">
  <div class="wrapper">
    <article>
      <h1>F14 Optics</h1>
      <h3>Exploring Workflow</h3>
      <p>
        These ski goggles were a personal project I completed
        during my spare time last summer.
      </p>
    </article>
    <figure>
      <img src="images/goggle-opening-image.png" alt="goggle opening image" />
    </figure>
  </div>
</div>
<div class="objective-banner wob">
  <p>
    F14 Optics began as a CAD project during my sophomore year, but developed into a personal exploration when I decided to pursue a form language that was initially out of my skill set. The purpose of this project was to design, excecute, and render a complex 3D model.
  </p>
</div>
<div class="github-model">
  <div class="wrapper">
    <div class="iframe-shade"></div>
    <iframe frameborder='0' src='https://render.githubusercontent.com/view/3d?url=https://raw.githubusercontent.com/lcb931023/bartholomew/master/models/goggle-model.STL'></iframe>
  </div>
</div>
<div class="process-banner wob">
  <ul>
    <li>
      <div class="flexbox">
        <div class="left">
          6
        </div>
        <div class="right">
          <span>Lessons Learned</span>
        </div>
      </div>
    </li>
    <li>
      <div class="flexbox">
        <div class="left">
          4M
        </div>
        <div class="right">
          <span>Project Time Span</span>
        </div>
      </div>
    </li>
    <li>
      <div class="flexbox">
        <div class="left">
          200
        </div>
        <div class="right">
          <span>Hours working</span>
        </div>
      </div>
    </li>
    <li>
      <div class="flexbox">
        <div class="left">
          4
        </div>
        <div class="right">
          <span>Days not showering</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="research bow">
  <div class="wrapper">
    <div class="text-wrapper">
      <article>
        <h3>Research | Form</h3>
        <p>
          I started by getting an idea for goggles’ current surface treatment.
          As I conceptualized the type of forms I wanted to tackle,
          I turned to the organic transitions of bone structures for inspiration.
        </p>
      </article>
    </div>
    <div class="bg">
    </div>
  </div>
</div>
<div class="functional wob">
  <div class="wrapper">
    <article>
      <h1>Functional</h1>
      <p>
        It was important that the CAD file was more than just an appearance model.
        With this in mind, I referenced the goggles I owned,
        along with images and models I found online.
      </p>
    </article>
    <figure></figure>
  </div>
</div>
<div class="visualization text-image-layout image-last bow">
  <div class="wrapper">
    <figure class="slide-container">
      <img class="slide" src="images/goggles-sketch3.png" alt="sketch3" />
      <img class="slide" src="images/goggles-sketch2.png" alt="sketch2" />
      <img class="slide" src="images/goggles-sketch1.png" alt="sketch1" />
    </figure>
    <article>
      <h1>Visualization</h1>
      <h3>Developing Aesthetic</h3>
      <p>
        I couldn’t articulate the surface transitions I needed sketching in 3D.
        By working through the front profile,
        I developed my intended aesthetic.
      </p>
    </article>
  </div>
</div>
<div class="framework text-image-layout image-first bow">
  <div class="wrapper">
    <figure><img src="images/goggles-framework.png" alt="framework" /></figure>
    <article>
      <h1>Framework</h1>
      <h3>So far, so good</h3>
      <p>
        I was able to build an accurate frame and lens to serve as my guide to design around.
      </p>
    </article>
  </div>
</div>
<div class="setback text-image-layout image-last bow">
  <div class="wrapper">
    <figure><img src="images/goggles-setback.png" alt="setback" /></figure>
    <article>
      <h1>Setback</h1>
      <h3>Time to restart</h3>
      <p>
        I spent weeks modeling in circles trying to define my surfaces in SolidWorks.
        As my file grew I realized my surfaces were not lining up,
        and I was not getting the aesthetic I desired.
      </p>
    </article>
  </div>
</div>
<div class="new-direction slanted-top text-image-layout image-first wob">
  <div class="wrapper">
    <figure><img src="images/goggles-new-direction.png" alt="new-direction" /></figure>
    <article>
      <h1>New Direction</h1>
      <h3>Making it printable</h3>
      <p>
        After adding supports to the correct part of my CAD file and printed it to serve as my guide.
        I would then be able to sculpt the surfaces I needed on top of this print.
      </p>
    </article>
  </div>
</div>
<div class="designed-in-3d text-image-layout image-last wob">
  <div class="wrapper">
    <figure><img src="images/goggles-printed.png" alt="new-direction" /></figure>
    <article>
      <h1>Designed in 3D</h1>
      <p>
        With this printed structure for reference,
        I was able to design and itterate until I had a desirable aesthetic.
        This step of the process was crutial to figuring our how these surfaces transitioned between one another.
      </p>
    </article>
  </div>
</div>
<div class="back-to-digital slanted-bottom text-image-layout image-first wob">
  <div class="wrapper">
    <figure><img src="images/goggles-scanner.png" alt="new-direction" /></figure>
    <article>
      <h1>Back to digital</h1>
      <h3>Scanned in model</h3>
      <p>
        Our department had just aquired a 3D scanner and I worked with the school to get the equiptment working.
        After scores of lost hours learning,
        I finally had a water tight scan set up in SolidWorks and was ready to start modeling.
      </p>
    </article>
  </div>
</div>
<div class="text-image-layout cad-process image-last">
  <div class="wrapper">
    <div class="scroller-view">
      <div class="frame">
        <img src="images/goggles-process-frame.png" alt="frame" />
      </div>
      <div class="scroller-content">
        <img src="images/goggles-cad1.png" alt="1" />
        <img src="images/goggles-cad2.png" alt="2" />
        <img src="images/goggles-cad3.png" alt="3" />
        <img src="images/goggles-cad4.png" alt="4" />
      </div>
    </div>
    <article>
      <h1>CAD Process</h1>
      <h3>Took it to Solidworks</h3>
      <p class="scroller-text">
        Learning to model this part was an exploration into the capacity of the surfacing features in SolidWorks.
        I started with what I knew and oriented my scan with my print.
        From here I started to build the surfaces.
      </p>
    </article>
  </div>
</div>
<div class="exploded bow">
  <div class="wrapper">
    <figure><img src="images/goggles-exploded.png" alt="asplode" /></figure>
  </div>
</div>

<div class="more-work bow">
  <div class="wrapper">
    <h1>More work</h1>
    <div class="other-works">
      <a href="#work/onestep">
        <figure>
          <img src="images/preview-onestep.png" alt="onestep" />
          <figcaption>Onestep</figcaption>
        </figure>
      </a>
      <a href="#work/taw">
        <figure>
          <img src="images/preview-taw.png" alt="taw" />
          <figcaption>Thought At Work</figcaption>
        </figure>
      </a>
      <a href="#work/ohana">
        <figure>
          <img src="images/preview-ohana.png" alt="ohana" />
          <figcaption>Ohana</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
<footer>
  {{> footer}}
</footer>
