<div class="smaller-proj-opening wob">
  <article>
    <h1>Stapler</h1>
    <h3>Product Redesign</h3>
    <p>
      This project was completed at the end of my sophmore year.
Updated layout coming soon!
    </p>
  </article>
</div>

<div class="smaller-proj-slides">
  <img src="images/stapler_1.jpg" alt="1" />
  <img src="images/stapler_2.jpg" alt="2" />
  <img src="images/stapler_3.jpg" alt="3" />
  <img src="images/stapler_4.jpg" alt="4" />
  <img src="images/stapler_5.jpg" alt="5" />
  <img src="images/stapler_6.jpg" alt="6" />
</div>

<div class="more-work bow">
  <div class="wrapper">
    <h1>More work</h1>
    <div class="other-works">
      <figure>
        <img src="images/preview-ohana.png" alt="ohana" />
        <figcaption>Ohana</figcaption>
      </figure>
      <figure>
        <img src="images/preview-taw.png" alt="taw" />
        <figcaption>Thought At Work</figcaption>
      </figure>
      <figure>
        <img src="images/preview-onestep.png" alt="onestep" />
        <figcaption>Onestep</figcaption>
      </figure>
    </div>
  </div>
</div>
