<div id="pagepiling" class="pagepiling">
  <div class="section welcome">
    <div class="wrapper">
      <h1 class="title">Welcome</h1>
    </div>
  </div>
  <div class="section s1">
    <h1 class="title">Electric Vehicle</h1>
  </div>
  <div class="section s2">
    <h1 class="title">Zeal Optics 2.1</h1>
  </div>
  <div class="section s3">
    <h1 class="title">Thought At Work</h1>
  </div>
  <div class="section s4">
    <h1 class="title">Eskuche Control</h1>
  </div>
  <div class="section last">
    <h1 class="title">Thank you for viewing</h1>
  </div>
</div>
