<div id="pagepiling" class="pagepiling">
  <div class="section s1 welcome wob">
    <div class="wrapper">
      <article class="">
        <h1 class="title wob">Welcome</h1>
        <h3>This is my corner of the internet</h3>
      </article>
    </div>
  </div>
  <div class="section s2">
    <div class="wrapper">
      <img class="work-splash" src="images/work-goggles.png" alt="goggles">
      <article>
        <h1 class="title bow">F14 Optics</h1>
        <h3 class="subtitle bow">Exploring Workflow</h3>
        <a href="#work/goggle" class="button bow" data-wipe="See More →">See More →</a>
      </article>
    </div>
  </div>


  <div class="section s3">
    <div class="wrapper">
      <img class="work-splash" src="images/work-millennial.png" alt="Thought At Work">
      <article>
        <h1 class="title bow">Millennial</h1>
        <h3 class="subtitle bow">Future Concept</h3>
        <a href="#work/vehicle"><h3 class="button bow">
          Coming Soon
        </h3></a>
      </article>
    </div>
  </div>
  <div class="section s4">
    <div class="wrapper">
      <img class="work-splash" src="images/work-taw.png" alt="Thought At Work">
      <article>
        <h1 class="title bow">Event Design</h1>
        <h3 class="subtitle bow">Thought at Work</h3>
        <a href="#work/taw"><h3 class="button bow">
          Coming Soon
        </h3></a>
      </article>
    </div>
  </div>
  <div class="section s5 last wob">
    <div class="wrapper">
      <div class="output-wrapper">
        <h1>Output</h1>
        <div class="other-works">
          <figure>
            <div class="featured">
              <img src="images/preview-goggles.png" alt="goggles" />
            </div>
            <figcaption>F14 Optics</figcaption>
          </figure>
          <figure>
            <div class="featured">
              <img src="images/preview-millennial.png" alt="millennial" />
            </div>
            <figcaption>Millennial</figcaption>
          </figure>
          <figure>
            <div class="featured">
              <img src="images/preview-taw.png" alt="taw" />
            </div>
            <figcaption>Event Design</figcaption>
          </figure>
          <figure>
            <img src="images/preview-ohana.png" alt="ohana" />
            <figcaption>Ohana</figcaption>
          </figure>
          <figure>
            <img src="images/preview-stapler.png" alt="stapler" />
            <figcaption>Stapler</figcaption>
          </figure>
          <figure>
            <img src="images/preview-onestep.png" alt="onestep" />
            <figcaption>onestep</figcaption>
          </figure>
          <figure>
            <div class="noshow-wrapper">
              <span>Coming Soon!</span>
              <img class="noshow" src="images/preview-onestep.png" alt="facet" />
            </div>
            <figcaption>facet</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
