<div id="pagepiling" class="pagepiling">
  <div class="section s1 welcome">
    <div class="wrapper">
      <h1 class="title">Welcome</h1>
    </div>
  </div>
  <div class="section s2">
    <div class="wrapper">
      <img class="work-splash" src="images/goggle.png" alt="Thought At Work">
      <div class="info">
        <h1 class="title">Zeal Optics 2.1</h1>
        <h3 class="subtitle">Optimizing Process</h3>
        <a href="#work/goggle"><h3 class="button details">
          See More →
        </h3></a>
      </div>
    </div>
  </div>
  <div class="section s3">
    <div class="wrapper">
      <img class="work-splash" src="images/vehicle.png" alt="Thought At Work">
      <div class="info">
        <h1 class="title">Electric Vehicle</h1>
        <h3 class="subtitle">Exploration of Perception of Form</h3>
        <a href="#work/vehicle"><h3 class="button details">
          See More →
        </h3></a>
      </div>
    </div>
  </div>
  <div class="section s4">
    <div class="wrapper">
      <img class="work-splash" src="images/taw.png" alt="Thought At Work">
      <div class="info">
        <h1 class="title">Thought At Work</h1>
        <h3 class="subtitle">Design oriented Passion Project</h3>
        <a href="#work/taw"><h3 class="button details">
          See More →
        </h3></a>
      </div>
    </div>
  </div>
  <div class="section s5">
    <div class="wrapper">
      <img class="work-splash" src="images/headphone.png" alt="Thought At Work">
      <div class="info">
        <h1 class="title">Eskuche Control</h1>
        <h3 class="subtitle">Exploration in Designing for Trends</h3>
        <a href="#work/headphone"><h3 class="button details">
          See More →
        </h3></a>
      </div>
    </div>
  </div>
  <div class="section s6 last">
    <div class="wrapper">
      <div class="thumbnails-nav">
        <h1 class="title">Thank you for viewing</h1>
        <h3 class="subtitle">Check out anything you missed and more below</h3>
        <div class="thumbnails-all">
          <h3 class="tag fancy"><span>Featured</span></h3>
          <div class="thumbnails-group">
            <img src="images/thumb_vehicle.jpg" alt="Vehicle" width="88" height="72">
            <img src="images/thumb_goggle.jpg" alt="Goggle" width="88" height="72">
            <img src="images/thumb_taw.jpg" alt="Thought At Work" width="88" height="72">
            <img src="images/thumb_headphone.jpg" alt="headphone" width="88" height="72">
          </div>
          <h3 class="tag fancy"><span>Miscellaneous</span></h3>
          <div class="thumbnails-group">
            <img src="images/thumb_headphone.jpg" alt="headphone" width="88" height="72">
            <img src="images/thumb_taw.jpg" alt="Thought At Work" width="88" height="72">
            <img src="images/thumb_vehicle.jpg" alt="Vehicle" width="88" height="72">
            <img src="images/thumb_goggle.jpg" alt="Goggle" width="88" height="72">

            <img src="images/thumb_taw.jpg" alt="Thought At Work" width="88" height="72">
            <img src="images/thumb_headphone.jpg" alt="headphone" width="88" height="72">
            <img src="images/thumb_goggle.jpg" alt="Goggle" width="88" height="72">
            <img src="images/thumb_vehicle.jpg" alt="Vehicle" width="88" height="72">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
