<ul class="social-icons">
  <a href="https://www.facebook.com/mick.bartholomew.7" target="_blank">
    <li class="icon -facebook"></li>
  </a>
  <a href="https://www.linkedin.com/in/mickbartholomew" target="_blank">
    <li class="icon -linkedin"></li>
  </a>
  <a href="https://www.pinterest.com/mdb2470/" target="_blank">
    <li class="icon -pinterest"></li>
  </a>
</ul>
<p class="contact">
  its.mbartholomew@gmail.com <br>
  440.452.6330
</p>
<h6 class="copy">© 2015 Mick Bartholomew  |  All rights reserved  |  Designed by Mick Bartholomew  |  Developed by Changbai Li</h6>
