<ul class="social-icons">
  <li class="icon -facebook"></li>
  <li class="icon -linkedin"></li>
  <li class="icon -pinterest"></li>
</ul>
<p class="contact">
  its.mbartholomew@gmail.com <br>
  440.452.6330
</p>
<h6 class="copy">© 2015 Mick Bartholomew  |  All rights reserved  |  Designed by Mick Bartholomew  |  Developed by Changbai Li</h6>
